!!! 5
html
    head
        title Merry Christmas from CodeBuffet!
        link(rel='stylesheet', href='css/app.css')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0')
        | <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    body
        .container
            .card-wrapper
                .perspective
                    .tile.out
                        div.open-button(onclick='openMyCard();')
                            |Click Me&nbsp;
                            i.fa.fa-play-circle
                    .tile.in-top(align="center", style="display:none")
                        br
                        br
                        p The hard work today will be tomorrow's celebration
                        p The dreams we have today will be tomorrow's reality
                        p The things we believe in today as a team, will end up proven to the world tomorrow
                        p To end up with the forest you want you first have to plant the trees
                        p That's what we all done this year
                        p That's all what we had to do
                        p We succeeded, the path is clear, the destiny in sight
                        p Good luck, prepare for our next flight!

                    .tile.in-bottom
                        img.card(src="images/card.svg", height="768")

    script(src="js/app.js")
