!!! 5
html
    head
        title Merry Christmas from CodeBuffet!
        link(rel='stylesheet', href='css/app.css')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0')
    body

        .container

            .perspective
                .tile.out
                    button(onclick='openMyCard();') Open
                .tile.in-top
                    p.
                .tile.in-bottom


            //-.line(style="background:#fff; width:6px; position:absolute; bottom:0; left:50%; margin-left:-3px; top:0; z-index:999;")

    script(src="js/app.js")