!!! 5
html
    head
        link(rel='stylesheet', href='css/app.css')
    body
        .container
            .buffet

                .plate
                    img(src="images/plate.png")

                    .top
                        img(src="images/top.png")
